---
 const personalImageAlt = "Luis Borquez"
---

<article class="flex flex-col items-center justify-center gap-8 text-gray-700 dark:text-gray-300 md:flex-row">
  <div
    class="[&>p]:mb-4 [&>p>strong]:text-yellow-500 dark:[&>p>strong]:text-yellow-100 [&>p>strong]:font-normal [&>p>strong]:font-mono text-pretty order-2 md:order-1"
  >
    <p>
      Mi nombre es Luis Bórquez, aunque mis amigos me llaman Lucho. Inicié mi carrera en la programación durante mis estudios universitarios, donde descubrí mi pasión por resolver problemas cotidianos a través del código. A lo largo de mi carrera, he aprendido que el trabajo en equipo es clave para el éxito. Me considero una persona autodidacta, motivada y capaz de asumir responsabilidades, siempre en busca de nuevas oportunidades para adquirir conocimientos en tecnologías innovadoras. Poseo fuertes habilidades organizativas e interpersonales, lo que me permite adaptarme y prosperar en entornos dinámicos.

    </p>

    <p style="font-weight: bolder; text-decoration: underline;">Experiencia en Backend</p>
    <p>
      Cuento con una sólida experiencia desarrollando en backend para empresas de los sectores salud y financiero. Mis competencias incluyen el manejo de tecnologías como:
      <ul>
        <li class="custom-list"> <span style="font-weight: bold;">Lenguajes y frameworks</span>: Python, JavaScript, NodeJS, TypeScript.</li>
        <li class="custom-list"><span style="font-weight: bold;">Bases de datos</span>: PostgreSQL, OracleDB.</li>
        <li class="custom-list"><span style="font-weight: bold;">Arquitecturas</span>: Microservicios, Kubernetes, Docker, API Rest.</li>
        <li class="custom-list"><span style="font-weight: bold;">Herramientas</span>: Express, Git, Jira, Bitbucket, entre otras.</li>
      </ul>
    </p>
    <br>
    <p style="font-weight: bolder; text-decoration: underline;">Experiencia en la nube</p>
    <p>
      He trabajado con soluciones en la nube utilizando servicios de <span style="font-weight: bold;">AWS</span>, entre los cuales se encuentran:
      <ul>
        <li class="custom-list"> <span style="font-weight: bold;">Servicios destacados</span>: Lambda, S3, DynamoDB, CloudWatch, SQS, EKS.</li>
      </ul>
    </p>
    <br>
    <p style="font-weight: bolder; text-decoration: underline;">Experiencia en Frontend</p>
    <p>
      Además, poseo conocimientos en desarrollo frontend, trabajando con tecnologías modernas para crear interfaces dinámicas y responsivas. Entre las herramientas y tecnologías que manejo están:
      <ul>
        <li class="custom-list"> <span style="font-weight: bold;">Frameworks y herramientas</span>: Astro, Angular, JavaScript.</li>
        <li class="custom-list"> <span style="font-weight: bold;">Tecnologías web</span>: HTML, CSS..</li>
      </ul>
    </p>

  </div>

  <img width="200" height="200" src="/fotoo.png" alt={personalImageAlt} class="order-1 object-cover w-64 h-full p-1 md:order-2 rotate-3 lg:p-2 lg:w-64 aspect-square rounded-2xl bg-black/20 dark:bg-yellow-500/5 ring-1 ring-black/70 dark:ring-white/20 " style="object-position: 50% 50%">

</article>