---
 const personalImageAlt = "Luis Borquez"
---

<article class="flex flex-col items-center justify-center gap-8 text-gray-700 dark:text-gray-300 md:flex-row">
  <div
    class="[&>p]:mb-4 [&>p>strong]:text-yellow-500 dark:[&>p>strong]:text-yellow-100 [&>p>strong]:font-normal [&>p>strong]:font-mono text-pretty order-2 md:order-1"
  >
    <p>
      Me llamo Luis Borquez pero mis amigos me llaman Lucho. Empecé en la
      programación en la Universidad, me llamo la atencion los diferentes maneras de solucionar problemas del dia a dia con la programacion.
      Pienso que el trabajo en equipo es fundamental, soy una persona autodidacta,
      motivado, capaz de asumir responsabilidades, y con iniciativas de adquirir
      conocimientos en tecnologías de primera con fuertes habilidades organizativas e interpersonales.

    </p>

    <p>
        Cuento con experiencia programando en Backend para empresas de Salud y Financieras. Manejo tecnologias tales como:
        Python, JavaScript, NodeJS, TypeScript, PostgreSQL, OracleBD, Microservices, Kubernetes, Docker, API Rest, Express, Git, Jira, Bitbucket, entre otras.
    </p>
    <p>
        Tambien tengo conocimiento en la nube AWS, usando servicios como Lambdas, S3, DynamoDB, CloudWatch, SQS, EKS.
    </p>

    <p>
        En el FronEnd, manejo tecnologias como: Astro, Angular, JavaScript, HTML, CSS.
    </p>

  </div>

  <img width="200" height="200" src="/src/assets/img/foto.png" alt={personalImageAlt} class="order-1 object-cover w-64 h-full p-1 md:order-2 rotate-3 lg:p-2 lg:w-64 aspect-square rounded-2xl bg-black/20 dark:bg-yellow-500/5 ring-1 ring-black/70 dark:ring-white/20 " style="object-position: 50% 50%">

</article>