---
import ExperienceItem from "./ExperienceItem.astro"
const EXPERIENCE = [
  {
    date: "Dic 2022 - Ago 2024",
    title: "Desarrollador backend",
    company: "RYC Consultores",
    description:
      "Trabajé para el cliente Consorcio, donde participé en proyectos importantes. El primer proyecto se llamaba Documático, cuyo propósito era mejorar la obtención de los documentos, ya fuera para pólizas de vida o salud. Luego fui parte del proyecto de Salud, donde mi objetivo fue solucionar el manejo de datos y la correcta obtención de los mismos. Por último, me encargué del backend del proyecto Ncategory, el cual consistía en manejar grandes volúmenes de datos, utilizando herramientas como Python y OracleDB, para una correcta inserción de los datos.",
  },
  {
    date: "Ene 2022 - Jun 2022",
    title: "Arquitecto Cloud Junior",
    company: "Trebol-IT",
    description:
      "Realicé la automatización de despliegues en ambientes de certificación y producción con Terraform. Desplegué aplicaciones en GCP, diseñé arquitecturas en AWS para automatizar tiempos de carga, realicé migraciones a contenedores Docker y también hice el despliegue de una aplicación UNITY en AWS.",
  },
  {
    date: "Mar 2020 - Dic 2021",
    title: "Desarrollador backend junior",
    company: "Trebol-IT",
    description:
      "En mi primera experiencia laboral, me enfrenté al desafío de ingresar a un proyecto llamado Solventa, el cual consistía en migrar microservicios de C# a TypeScript con NodeJS. Luego estuve en el equipo de Admisión para la Clínica Alemana, donde fui parte del equipo de desarrollo para el área de Financiamiento con ReactJS y Angular. También participé en el área de Finanzas y Admisión, utilizando tecnologías frontend como Angular y en el backend con NodeJS y TypeScript. Por último, integré el equipo de Roles y Perfiles, donde trabajé con tecnologías como JavaScript, NodeJS y Angular.",
  }
]
---

<ol class="relative mt-16">
  {
    EXPERIENCE.map((experience) => (
      <li class="">
        <ExperienceItem {...experience} />
      </li>
    ))
  }
</ol>